<carousel class="text-center">
  <slide id="carousel1">
    <img class='img-main-carousel' src="assets/images/nature/slide1.jpg" alt="first slide" style="width: 100%;">
    <div class="carousel-caption d-none d-md-block" style="width: 100%;">
    </div>
  </slide>

</carousel>

<div class="jumbotron">
  <h1 class="display-3">University of Colombo School of Computing</h1>
  <p class="lead">Welcome to UCSC Exam Registration Center</p>
  <hr class="my-4">
  <p id="para">Undergraduate and Postgraduate Students can register for exams Now!</p>
  <p class="lead1">
    <a class="btn btn-primary btn-lg" id="btn1" [routerLink]="['/register']" role="button">Sign Up</a>
  </p>
</div>