<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-admin-sidebar></app-admin-sidebar>
        </div>
        <div class="col-md-10">
        <div class="jumbotron">
                    <h1 class="display-3">University of Colombo School of Computing</h1>
                    <p class="lead">Welcome to UCSC Exam Registration Center Admin Panel.</p>
                    <hr class="my-4">
                    <p class="lead">You can Post Exams and Generate Reports Now!</p>
                    
                </div>
        </div>
    </div>
</div>